.purple-header {
    background-color: #9c27b0;
    color: #ffffff;
    width: auto;
    
}
 /*
.landing-page .header {
  height: 2vh !important;
  min-height: 1vh !important;
 
}
*/
#main .header {
  height: 30vh !important;
  min-height: 1vh !important;
 
}
 
.margin-top-title {
    margin-top: -10px !important;
    text-align: center;
   
}

.navbar-header .logo{ 
  /*color: #E6E6FA !important;*/
  color: #fff !important;    
  font-family: "Oleo Script", cursive;
  font-size: 42px;
  text-transform: lowercase; 
  text-decoration: none; 
  text-shadow: 2px 2px #000;  
  padding: 7px !important;  
}
.submenu {
     color: #fff !important;   
     
}

.material-icons.md-36 {
    font-size: 36px !important; 
}

.main-raised-margintop {
    margin-top: -40px !important;
}

.main-raised {
    margin: -50px 30px 0px !important;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:250px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500 !important;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #9c27b0;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.red-border{
    border: 1px solid;
     border-color: red !important;
}

.sidebar-item:hover{
    /* background-color: #589fff; */
      background-color: #CCCCCC !important;      
}
.card > #tabtitle {
  height: 100% !important;
    max-height: 150px !important;
}

.purplebg {
    background-color: #9c27b0 !important;
    width: auto;
}

.center {
    text-align: center !important;
    margin: 0 auto !important;    
}

.nav-pills > li i {  
  font-size: 20px;
  padding: 2px 0 !important;
    
}

.nav-pills > li > a {   
  color: #FFFFFF !important; 
}



.card .content {
  padding: 10px !important;  
}


h3, .h3 {
  margin: 5px 10px; 5px;
}

h6, .h6 {
  margin: 0px 10px; 0px;
}

.adsright {
    margin-top: 90px;
}

#successdivpinfo {
    display: none;
}

.editfloatright {
    float:right !important;
}

.editfloatleft {
    float:left;
}

.modal-gray {
    background: #e7e7e7;
}


.errortext {
    color: red !important;
}

div .parsley-errors-list {
    list-style-type: none;
    opacity: 1; 
    color: red;
    font-size: 10px;
    font-weight: 300;
   
}


.card .header {
   padding: 10px 0;
}
.leftofnavheader {
    margin-left:  -170px !important;
    margin-top: 15px;
}

.profile-page .profile {
  text-align: center;
    margin-top: 90px !important;
}

.timeline > li > .timeline-panel {
    background-color: #fff;
    padding: 10px !important;
}

.timeline > li > .timeline-badge {  
  font-size: 2.5em !important;
}

.timeline:before {  
  background-color: #9c27b0 !important;  
}

.card-ads {
  width: auto !important;
    padding-bottom: 10px !important;
}
#vertical-align {
    display: inline-flex !important; 
}

.margintop0 {
    margin-top: 0 !important;
}

.resumetextalign {
    text-align: left !important;
    
}

.tlpositionsize {
    font-size: 22px !important;
}

.tliconvaluesize {
    font-size: 14px !important;
}

.expandmore {
    padding: 2px !important;
    background-color: #fff !important;
    box-shadow: none !important;
    
   
}

.blackicon {
    color: #9c27b0 !important;
}

.timelinebodybottomborder {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    
    margin: -10px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
     
}

.whitetext{
    color: #fff !important;
    font-weight: 500;
}

.jobdescdiv {
    margin-top: 20px !important;
}

.timelinerounded {
    border-radius: 5px !important;
}

.margin10{
    margin: 10px !important;
}

.timelinepos {
    font-weight: 500;
}

.tlcompanydiv {
    background-color: #CCCCCC;
    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
}

.tltextright {
    text-align: right !important;
}



.infocolor {
    background-color: #5bc0de !important;
}

.successcolor {
     background-color: #3f903f !important;
}
/*post job steps*/
.stepwizard-step p {
    margin-top: 30px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 22px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/*end post job steps*/
.adstop {
    margin-top: -60px !important;
}

.jobad-meta {
   /* padding: 5px 22px;*/
    color: #999;
    display: block;
  
}

.jobad-bottomborder {
   
    border-bottom: 1px solid #EDEDED;
}

.jobad-title {
    /*margin-bottom: 5px;*/
    
    font-size: 24px;
    font-weight: 400;
}
.skilltags {
    margin: 10px;
    padding: 10px;
}


.nodecor {
    width: 100%;
    text-decoration: none !important;
}

.companypos {
    margin-top: -15px !important;
    margin-left: -10px !important;
    margin-bottom: 10px !important;
}

.jobadheader {
    font-size: 12px !important;
    text-transform: none !important;
   /* margin-bottom: -5px !important; */
}

.jobadheadericon {
    font-size: 18px !important;
}

.companylogo {
    margin-top: 10px !important;
   /* float: right; */

}

.actionicon {
    text-align: right !important;
    margin-top: 20px !important;
   
}

.redborder{
    border: 1px solid;
     border-color: red !important;
}

.blog-post {
    margin-top: 10px !important;
}

.essaymargintop{
    margin-top: 5px !important;
}

.jobcardcompany {
    font-size: 12px !important;
}

.jobcardtitle {
    font-size: 16px !important;
    font-weight: 400;
}

.jobcardothers {
    font-size: 12px !important;
    text-transform: none !important;
}

.jobcarddesc {
    font-size: 12px !important;
    text-transform: none !important;
}

.jobcardreadmore {
   
    padding: 10px !important;
}

.jobcardreadmorelink {
     font-size: 12px !important;
}

.jobcardbuttons {
    font-size: 12px !important;
}

.notopmargin {
    margin-top: -100px !important;
  
}

.jobad-titletopmargin {
    margin-top: 5px !important;
}

.leftmargin10 {
    margin-left: -15px !important;
}


.quickapplytitle {
    font-weight: 400 !important;
    margin-top: 10px;
}

.text-primary {
  color: #9c27b0;
}

.section{
    margin-top: -80px !important;
}
