@media screen and (min-width: 320px) {   
         #main .header {
          height: 30vh !important;          
        }   
        
         .margin-top-title {
            margin-top: -65px !important;   
        }
        
        h2.title {
          margin-bottom: -140px;
        }
    
}

@media screen and (min-width: 370px) {   
        #main .header {
          height: 27vh !important;   
       }
    
        .margin-top-title {
            margin-top: -90px !important;   
        }
    
        
    
}

@media screen and (min-width: 750px) {   
        #main .header {
          height: 20vh !important;   
       }
    
        .margin-top-title {
            margin-top: -180px !important;   
        }
    
        .material-icons.md-24 {
            font-size: 36px !important; 
        }
    
}

@media screen and (min-width: 990px) {   
        .landing-page .header {
          height: 30vh !important;          
        }   
    
        .margin-top-title {
            margin-top: -85px !important;   
        }
}

@media screen and (min-width: 1400px) {   
       #main .header {
          height: 25vh !important;   
       }
    
        .margin-top-title {
            margin-top: -110px !important;   
        }
}