@media screen and (min-width: 300px) {   
         .landing-page .header {
          height: 30vh !important;
          min-height: 20vh;
        }   
        
         .margin-top-title {
            margin-top: -65px !important;   
        }
        .submenufont{
            display: none;
        }
        
        h2.title {
          margin-bottom: -150px;
          font-size: 18px;    
        }
    
        #resumesb{
            display: none;
        }
        
       
    
}

@media screen and (min-width: 370px) {   
         .landing-page .header {
              height: 25vh !important;
              min-height: 20vh;
       }
    
        .margin-top-title {
            margin-top: -90px !important;   
        }
    
        
    
}

@media screen and (min-width: 400px) {   
         .landing-page .header {
              height: 23vh !important;
              min-height: 20vh;
       }
    
        .margin-top-title {
            margin-top: -110px !important;   
        }
    
        
    
}

@media screen and (min-width: 500px) {   
         .landing-page .header {
              height: 54vh !important;
              min-height: 10vh;
       }
    
        .margin-top-title {
            margin-top: -5px !important;   
        }
    
}

@media screen and (min-width: 630px) {        
    
        .material-icons.md-24 {
            font-size: 36px !important; 
        }
    
}

@media screen and (min-width: 700px) {        
    
       .landing-page .header {
          height: 46vh !important;   
       }
        .margin-top-title {
            margin-top: -25px !important;   
        }
    
}

@media screen and (min-width: 800px) {   
        .landing-page .header {
          height: 30vh !important;   
       }
    
        .margin-top-title {
            margin-top: -130px !important;   
        }
    
        .material-icons.md-24 {
            font-size: 36px !important; 
        }
        
        .section {
          padding: 10px 0;
        }
    
}

@media screen 
    and (min-device-width: 1366px) 
    and (min-device-height: 768px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
        .landing-page .header {
          height: 34vh !important;          
        }
        
        .material-icons.md-24 {
            font-size: 36px !important; 
        }
    
        .margin-top-title {
            margin-top: -90px !important;   
        }
        .submenufont{          
            display: block;
        }
        h2.title {
          margin-bottom: -150px;
          font-size: 36px;    
        }
        
        .nav-pills > li i {  
          font-size: 28px;
          padding: 2px 0 !important;
        }
        #resumesb{
            display: block;
        }
     
}


@media screen 
    and (min-device-width: 1536px) 
    and (min-device-height: 864px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
      
      .landing-page .header {
          height: 30vh !important;   
       }
    
        .margin-top-title {
            margin-top: -110px !important;   
        }
    
        .section {
          padding: 10px 0;
        }
      
}

@media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
       .landing-page .header {
          height: 24vh !important;   
       }
    
        .margin-top-title {
            margin-top: -160px !important;   
        }
        
        .material-icons.md-24 {
            font-size: 36px !important; 
        }
    
        .section {
          padding: 10px 0;
        }
}
