
@media screen and (min-width: 320px) {       
   
   .login-col{
    margin-bottom: 50px !important; 
     text-align:center;
   }
    
    .col-centered-login{   
      margin-top: 50px !important;
      text-align:center;
   } 
    
    .signup-form{
        height: auto;
    }
    
    .quickview {
        display: none;
    }
    
    .welcomediv {
        margin-top: 40px;
    }
    
  
    
}
/*
@media screen and (min-width: 350px) {    
  .signin-welcome-text{
     margin-left: 30px !important;
  } 
    
 .login-col{
    margin-bottom: 15px !important; 
   }        
}
*/
@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;      
  }
  .sidenav a {font-size: 18px;}
  
}

@media screen and (min-width: 990px) {    
    
  .col-centered-login{   
      margin-top: 130px !important;
      text-align:center;
   } 
    
  .signin-welcome-text {   
    font-size: 56px;
  }
 .signin-logo { 
    font-size: 56px;
  }
 .signin-paragraph {  
    font-size: 28px;
  }
    
    .signup-form{
        height: auto;
    } 
    
  .signup-form-title {   
    font-size: 28px;
      
  }
    
    .quickviewicon{
        font-size: 42px !important;
    }
    
    .quickview {
     display: block;
    }
    
    
    
  .signin-body {
      background:url('../img/landing-meeting.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  }
}
