 .body {
    background-color: #e7e7e7;
 
}



.navbar-header .logo{ 
  color: #E6E6FA !important;
  font-family: "Oleo Script", cursive !important;
  font-size: 38px;
  text-transform: lowercase; 
  text-decoration: none; 
  text-shadow: 2px 2px #000;  
  padding: 7px !important;

  
}

.navbar-color {
   position: fixed;
    background-color: rgba(75, 183, 119, 0.7) !important;
    margin-left: 0;
    padding-left: 0px;
    
 
}

.navbar-isopaque {
   position: fixed;
    background-color: rgb(75, 183, 119) !important;
    margin-left: 0;
    padding-left: 0px; 
}



*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well {
 position:relative;
 display: block;
}

@media (max-width: 992px){

    .navbar-fixed-top {
        position: fixed !important;
        top: auto;/* Auto position navbar top */
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height:inherit;/* Clear max-height */
    }

    body{
        padding:0px;/* No padding */
   }
    
 
}


.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}



@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
  
    
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}

.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
	overflow: hidden;
}
.panel-image ~ .panel-footer a {
	padding: 0px 10px;
	font-size: 1.3em;
	color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body {
	height: 0px;
	padding: 0px;
}

.panelcustom {
    box-shadow: 2px 2px 1px grey;
}



.hrcustom {
    margin: 0 !important;
    border-top: 1px solid #34495e;
}

.h1custom {
    color: #34495e;
    font-size: 26px !important;
     margin-top: 90px !important;
}

.h2custom {
    color: #34495e;
    font-size: 26px !important;
    margin-top: -15px !important;
}

.post-content {
    top: 0;
    left:0;
    position: absolute;
}

.thumbnail{
    position:relative;

}

@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'http://fonts.googleapis.com/css?family=Roboto:700,400';
/*
*  Basic Reset
*/
 
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Basics Styles
 */
html {
    font-size: 62.5%;
}
body {
    background-color: #eee;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.6;
    color: #666;
}

a {
    text-decoration: none;
    color: #3498db;
}
    a:hover {
        color: #2980b9;
    }

h2 {
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

.wrapper {
    max-width: 400px;
    margin: 50px auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

/**
 * Helpers
 */
.border-tlr-radius { 
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
        0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0, 0.24);      
}


/**
 * Card Styles
 */

.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
}

.card__padding {
    padding: 1.6rem;
}
 
.card__image {
    min-height: 100px;
    background-color: #eee;
}
    .card__image img {
        width: 100%;
        max-width: 100%;
        display: block;
    }

.card__content {
    position: relative;
}

/* card meta */
.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}

/* card article */
.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}
    .card__article a:hover {
        color: #2980b9;
    }

/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}
     
.card__author {}

    .card__author img,
    .card__author-content {
        display: inline-block;
        vertical-align: middle;
    }

    .card__author img{
        border-radius: 50%;
        margin-right: 0.6em;
    }

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
    .card__social--active {
        visibility: visible;
        /*z-index: 3;*/
        transform: translateZ(0);
        transform: translateX(-48px);
        transition: transform 0.35s ease;
    }

.share-toggle {
    z-index: 2;
}
.share-toggle:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #3498db !important;
}
    .share-toggle.share-expanded:before {
        content: "\f00d";
    }

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;

    box-shadow: 
            0 2px 4px rgba(0,0,0, 0.12),
            0 2px 4px rgba(0,0,0, 0.24);
}
    .share-icon:hover,
    .share-icon:focus {
        box-shadow: 
            0 3px 6px rgba(0,0,0, 0.12),
            0 3px 6px rgba(0,0,0, 0.24);

        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

.facebook {
    background-color: #3b5998; 
}
.twitter {
    background-color: #00abe3; 
}
.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff;
}

    .facebook:hover,
    .twitter:hover,
    .googleplus:hover {
        color: #eee;
    }
.industry_meta {
    color: #3498db;S    
}



.logomain {
    letter-spacing: 0px;
	font-weight: 200 !important;
    color: #E6E6FA !important;
    margin-left: 20px;
    margin-right: 30px;
}






.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #589fff;
  border-color: #589fff;
}

.btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #589fff !important;
    border-color: #589fff !important; /*set the color you want here*/
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #589fff !important;
  border-color:#589fff !important;
     color: #fff;
}

.col-centered-login{
    /*float: none;
    margin: 0 auto; */
    margin-top: 80px !important; 
   

}

.sidebar-item:hover{
     background-color: #589fff;
    
}

.btn-custom {
    background-color: #8f8f8f !important;   
    border-color: #8f8f8f !important;
    color: #fff !important;
     
    margin: 7px !important;
    padding: 7px;
}

.login-col {
   /* border: 1px solid;
     border-color: red !important; */
}

.signup-welcome {
 /* margin: 0 auto;
  width: auto;    
  background-color: #e7e7e7;
    box-shadow: 3px 3px 3px #000;*/
   width: auto;
    height: 150px;
    padding-top: 10px;
}

.signin-welcome-text {
    padding-top: 30px;
    font-size: 26px;
    color: #fff; 
    /*color: #34495e;*/
    font-weight: 700 !important;   
    font-family: "Lato", cursive !important;
}

.signin-logo {
   color: #fff !important;  
    /*color: #34495e !important;*/
  font-family: "Oleo Script", cursive !important;
  font-size: 26px;
  text-transform: lowercase; 
  text-decoration: none;   
  font-weight: 300 !important;
  
}



.col-centered {
    float: none;
    margin: 0 auto;
    margin-top: 50px;
}

.signin-body {
    
     background:url('../img/metal2.png') repeat;
  /*  background-color: #61489d;
    
    */
    overflow-x: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.signin-paragraph {
    color: #fff;    
    font-weight: 400 !important;   
    font-family: "Lato", cursive !important;
    font-size: 18px;
}

.signup-form {
    display: none;
    width: auto;
    height: 300px;
    background-color: #e7e7e7;
    box-shadow: 3px 3px 3px #000;
}

.info-input-group-addon {
    background-color: #589fff;
    border: 1px solid #589fff;
}

.signin-form {
    margin-top: 20px;
    padding-top: 20px;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #F2F9F0 !important;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48 !important;
    background-color: #F9F0F0 !important;
    border: 1px solid #f09784 !important;
}

.parsley-errors-list {
    list-style-type: none;
    opacity: 0;
    transition: all .3s ease-in;

    color: #d16e6c;
    margin-top: 5px;
    margin-bottom: 0;
  padding-left: 0;
}

.parsley-errors-list.filled {
    opacity: 1;
}
