
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:url('../img/metal2.png') repeat !important;
  /*  background-color: #61489d;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #34495e;
    display: block;
    transition: 0.3s;
    margin-left: 5px;
    font-weight: 100 !important;
}

.sidenav a:hover, .offcanvas a:focus{
   /* color: #f1f1f1; */
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}